html {
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
}

body {
    padding-bottom: 5em;
}

a:any-link{
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size 5em;
    font-weight: 800;
    line-height: 1.5;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.5;
}

.fixed-width {
    width: 1000px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

header {
    height: 5.5em;
    display: flex;
}

header a {
    height: 3em;
    margin: auto;
    font-size: 1.2em;
}

header a img {
    height: inherit;
}

nav {
    flex-grow: 1;
    text-align: right;
    margin: auto;
    font-weight: 700;
}

nav a {
    padding: 0 10px;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4d4d4d;
    color: white;
    height: 5em;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    font-weight: 300;
}
.footer-div {
    display: flex;
}

.footer-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div .footer-box:first-child :first-child{ margin-right: auto; }

.footer-div .footer-box:last-child :first-child { margin-left: auto;}

footer nav{
    margin: unset;
    flex-grow: unset;
    font-weight: unset;
}

.no-padding {
    padding: 0;
}