button {
    background-color: rgb(26,26,26);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    font-family: unset;
}

.app-grid {
    display: grid;
    grid-template-columns: 75px 150px 75px 125px 75px 100px 75px 250px 75px;
    align-items: center;
    padding: 15px 15px;
    background-color: rgb(230,230,230);
}

.app-grid:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.app-grid img {
    height: 3em;
}