.app-grid {
    display: grid;
    grid-template-columns: 75px 150px 75px 125px 75px 100px 75px 250px 75px;
    align-items: center;
    padding: 15px 15px;
    background-color: rgb(230,230,230);
}

.app-grid:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.app-grid img {
    height: 3em;
}

.delete-button {
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 2.5em!important;
}